<h3>Add New List</h3>

<form action="/lists" method="post">
  <div class="form-group">
    <label class="form-label" for='name'>Assign a name to your list:</label>
    <input class="form-control" id='name' name='name' type="text" placeholder="List Name" autofocus>
    <button type="submit" class="button btn">Add List</button>
  </div>
</form>
