<h3>Add New Task</h3>

<form action="/tasks" method="post">
  <div class="form-group">
    <label class="form-label" for='description'>Add description:</label>
    <input class="form-control" id='description' name='description' type="text" placeholder="Task Description" autofocus>
    <button type="submit" class="button btn">Add Task</button>
  </div>
</form>
